@import "./../../../variables";

.ControlsGroup {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin-right: $controls-group-spacing;
  }

  & > :last-child {
    margin-right: 0;
  }
}