@import "./../../../variables";

.button {
  align-items: center;
  border: none;
  border-radius: 3px;
  color: $bright-text-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
}

.icon {
  height: 24px;
  width: 24px;
}

.primary {
  background-color: $color-2;

  &:hover {
    background-color: $accent-color;

  }
}

.secondary {
  background-color: $color-2;

  &:hover {
    background-color: $color-3;
  }
}

.tertiary {
  background-color: $color-3;

  &:hover {
    background-color: $color-2;
  }
}

.danger {
  background-color: $color-2;

  &:hover {
    background-color: $danger-color;
  }
}

.medium {
  height: 30px;
  padding: 10px;
  width: auto;
}

.square {
  height: 30px;
  width: 30px;
}