@import "./../../../variables";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $bright-text-color;
  border: none;
  border-radius: $controls-border-radius;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }

  &__Icon {
    width: $button-icon-size;
    height: $button-icon-size;
  }

  &--Primary {
    background-color: $color-2;

    &:hover {
      background-color: $accent-color;

    }
  }

  &--Secondary {
    background-color: $color-2;

    &:hover {
      background-color: $color-3;
    }
  }

  &--Tertiary {
    background-color: $color-3;

    &:hover {
      background-color: $color-2;
    }
  }

  &--Danger {
    background-color: $color-2;

    &:hover {
      background-color: $danger-color;
    }
  }

  &--Square {
    width: $controls-height;
    height: $controls-height;
  }

  &--Medium {
    min-width: $button-medium-min-width;
    height: $controls-height;
    padding: $button-medium-padding;
  }
}