@import "../../../variables";

.CardsViewHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $cards-view-header-margin-bottom;

  &__Right {
    display: flex;
    margin-left: auto;
  }

  &__FolderPath {
    font-size: $folder-path-font-size;
    font-weight: $folder-path-font-weight;
    margin: $folder-path-margin;
    color: $bright-text-color;
  }

}