@import "./../../../variables";


.Input {
  font-size: $input-font-size;
  height: $controls-height;
  padding: $input-padding;
  color: $bright-text-color;
  border: none;
  border-radius: $controls-border-radius;
  outline: none;
  background-color: $color-3;

  &::placeholder {
    color: $light-text-color;
  }
}
