@import "./../variables";

.home {
  height: 100vh;

  &__wrapper {
    height: 100vh;
  }
}

.main-content {
  padding-top: $top-bar-height;
  transition: padding-left .25s ease;
  height: 100%;

  &--opened {
    padding-left: $side-bar-width;
  }
}

