@import "./../variables";

.Login {
  height: 100vh;
  color: $bright-text-color;
  background-color: $color-1;

  &__Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__Frame {
    width: 90%;
    padding: $login-frame-padding;
    border-radius: $login-frame-border-radius;
    background-color: $color-2;
  }

  &__Title {
    font-size: $login-title-font-size;
    margin-bottom: $login-fields-margin-top;

  }

  .Button {
    margin-top: $login-fields-margin-top;
  }

  &__Link {
    font-size: $login-text-font-size;
    display: block;
    margin-top: $login-fields-margin-top + 5px;
    text-align: center;
    color: $bright-text-color;

    &:visited {
      color: $bright-text-color
    }
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;


  &__Label {
    font-size: $login-text-font-size;
    font-weight: $login-label-font-weight;
    width: 100%;
    margin-top: $login-fields-margin-top;
  }

  &__ErrorMessage {
    font-size: $login-error-message-font-size;
    font-weight: $login-error-message-font-weight;
    display: block;
    width: 100%;
    color: $danger-color;

    &--NoField {
      margin-top: $login-fields-margin-top;
    }
  }

}


@media all and (min-width: $mobile-max-breakpoint) {
  .Login {
    &__Frame {
      width: $login-frame-max-width;

    }
  }
}
