@import "./../variables";

.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  background-color: $color-3;

  &__title {
    display: block;
    color: $bright-text-color;
  }
}