@import "./../../variables";

.card-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


  &__card {
    background-color: $color-2;
    border-radius: 10px;
    height: 100%;
    margin: 10px;
    position: relative;


    &-inner {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    &-back-content, &-front-content {
      color: $bright-text-color;
      font-size: $card-content-font-size;
      text-align: center;
    }

    &-button {
      align-items: center;
      background-color: $color-2;
      border: none;
      border-radius: 3px;
      color: $bright-text-color;
      cursor: pointer;
      display: flex;
      height: 34px;
      justify-content: center;
      outline: none;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 34px;

      &:hover {
        background-color: $color-3;

      }
    }

    &-textarea {
      background-color: transparent;
      border: none;
      border-radius: 10px;
      color: $bright-text-color;
      font-size: $card-content-font-size;
      min-height: 50%;
      outline: none;
      padding: 10px;
      resize: none;
      text-align: center;
      width: 50%;
    }

    &-content-indicator-icon {
      align-items: center;
      border-radius: 50%;
      bottom: 10px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: absolute;
      right: 10px;
      transition: opacity .25s ease;
    }




    &--flip {
      &-enter {
        transform: rotateY(-90deg);
      }

      &-exit {
        transform: rotateY(0deg);
      }

      &-enter-active {
        transform: rotateY(0deg);
      }

      &-exit-active {
        transform: rotateY(90deg);
      }

      &-enter-active,
      &-exit-active {
        transition: transform $card-flip-duration cubic-bezier(0, 0, 1, 1);
      }
    }
  }

  &__controls {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0 auto;
    width: 70px;
  }

  &__button {
    align-items: center;
    background-color: $color-1;
    border: none;
    border-radius: 3px;
    color: $bright-text-color;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    outline: none;
    width: 30px;

    &:hover {
      background-color: $color-2;
    }
  }

  &__md-arrow-back-icon, &__md-arrow-next-icon, &__md-edit-icon, &__md-close-icon {
    height: 20px;
    width: 20px;
  }
  &__md-flash-icon, &__md-help-icon {
    fill: $bright-text-color;
    height: 26px;
    width: 26px;
  }
}


