@import "./../../variables";

.modal {


  &__overlay {
    background-color: transparentize($color-2, 0.5);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
  }

  &__wrapper {
    background-color: $color-1;
    border-radius: 10px;
    box-shadow: 2px 2px 5px $color-2;
    height: 100%;
    left: 50%;
    max-height: 550px;
    max-width: 550px;

    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 9999;

  }

  &__inner {
    height: 100%;
    padding: 10px;
    width: 100%;
  }
}

//TODO : Invert media query to have mobile first
@media all and (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .modal {
    &__wrapper {
      height: 450px;
      width: 450px;
    }
  }
}

@media all and (max-width: $mobile-max-breakpoint) {
  .modal {
    &__wrapper {
      height: 290px;
      width: 290px;
    }
  }
}