@import "./../../../variables";

.Dropdown {
  position: relative;

  &__Menu {
    position: absolute;
    z-index: 99;
    top: $dropdown-menu-top-distance;
    overflow: hidden;
    width: $dropdown-menu-width;
    border-radius: $card-border-radius;
    background-color: $color-2;
    box-shadow: $dropdown-menu-box-shadow-size $color-1;

    &--Left {
      left: 0
    }

    &--Right {
      right: 0;
    }
  }

  &__List {
    font-size: $card-content-font-size;
    list-style: none;
    color: $bright-text-color;
  }

  &__Item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: $dropdown-item-min-height;
    padding: $dropdown-item-padding;
    cursor: pointer;
    text-align: center;
    background-color: $color-2;

    &--selected {
      background-color: $accent-color;
    }

    &:hover {
      background-color: $color-3;
    }

  }
}


