@import "./../../variables";

.card {
  background-color: $color-2;
  border-radius: 4px;
  display: flex;
  height: 200px;
  position: relative;

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  &__up-controls {
    display: flex;
    left: 10px;
    position: absolute;
    top: 10px;
    transition: opacity .25s ease;
  }

  &__button {
    align-items: center;
    background-color: $color-4;
    border: none;
    border-radius: 3px;
    color: $bright-text-color;
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: center;
    margin-right: 5px;
    outline: none;
    width: 26px;

    &:hover {
      background-color: $color-3;
    }
  }

  &__back-content, &__front-content {
    text-align: center;
  }


  &__md-edit-icon, &__md-trash-icon {
    height: 20px;
    width: 20px;
  }

  &--flip {
    &-enter {
      transform: rotateY(-90deg);
    }

    &-exit {
      transform: rotateY(0deg);
    }

    &-enter-active {
      transform: rotateY(0deg);
    }

    &-exit-active {
      transform: rotateY(90deg);
    }

    &-enter-active,
    &-exit-active {
      transition: transform $card-flip-duration cubic-bezier(0, 0, 1, 1);
    }
  }

}



