@import "./../../variables";

.cards-view-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 36px;

  &__right {
    display: flex;
    margin-left: auto;
  }

  &__folder-path {
    color: $bright-text-color;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 0;
  }
}