@import "./../../variables";

.card {
  background-color: $color-2;
  border-radius: 4px;
  display: flex;
  flex: 0 0 200px;
  height: 200px;
  margin: 5px;

  &__inner {
    height: 100%;
    padding: 10px;
    width: 100%;
  }
}