@import "./../../variables";

.cards-view-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 36px;

  &__right {
    margin-left: auto;
    display: flex;
  }

  &__folder-path {
    color: $bright-text-color;
    font-size: $card-content-font-size;
    margin: 10px 0;
  }

  &__button {
    align-items: center;
    background-color: $color-3;
    border: none;
    border-radius: 3px;
    color: $bright-text-color;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    outline: none;
    padding: 10px;
    margin-left: 10px;


    &:hover {
      background-color: $dangerous-color;
    }
    &:disabled {
      background-color: $color-2;
      cursor: not-allowed;
    }
  }
}