@import "./../../variables";

.CardsGrid {
  display: grid;
  overflow-y: auto;
  min-height: 100%;
  margin: auto;
  grid-gap: $cards-grid-spacing;
  grid-template-columns: repeat(auto-fill, minmax($card-size, 1fr));
}