@import "./../../variables";

$tree-prefix-class: 'folders-tree-view';
$tree-node-prefix-class: '#{$tree-prefix-class}-treenode';


.#{$tree-prefix-class} {

  .#{$tree-node-prefix-class} {
    margin: 2px 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;


    &.drag-over {
      > .draggable {
        background-color: $color-3;
      }
    }

    &.drag-over-gap-top {
      > .draggable {
        border-top: 2px $accent-color solid;
      }
    }

    &.drag-over-gap-bottom {
      > .draggable {
        border-bottom: 2px $accent-color solid;
      }
    }

    .#{$tree-prefix-class}-node-content-wrapper {
      align-items: center;
      color: $bright-text-color;
      cursor: pointer;
      display: inline-flex;
      height: 30px;
      padding: 5px 10px;
      border-radius: 3px;
      margin-left: 3px;
      vertical-align: middle;
      width: 100%;
      font-size: 0.8rem;

      &:hover {
        background-color: $color-3;
      }
    }

    span {
      &.#{$tree-prefix-class}-switcher {
        color: $bright-text-color;
        // Set fixed width because like this all tree node are indented
        cursor: pointer;
        height: 20px;
        width: 20px;
      }
    }
  }

  &-node-selected {
    background-color: $color-3;
  }

  &-indent-unit {
    padding-left: 14px;
  }

  &__ios-arrow-down-icon, &__ios-arrow-up-icon {
    height: 20px;
    width: 20px;
  }
}
