@import "./../../variables";

$tree-prefix-class: 'FoldersTree';
$tree-node-prefix-class: '#{$tree-prefix-class}-treenode';


.#{$tree-prefix-class} {

  .#{$tree-node-prefix-class} {
    display: flex;
    align-items: center;
    width: 100%;
    height: $folders-tree-node-height;
    margin: $folders-tree-node-margin;


    &.drag-over {
      > .draggable {
        background-color: $color-3;
      }
    }

    &.drag-over-gap-top {
      > .draggable {
        border-top: $folders-tree-node-drag-over-gap-border-size $accent-color solid;
      }
    }

    &.drag-over-gap-bottom {
      > .draggable {
        border-bottom: $folders-tree-node-drag-over-gap-border-size $accent-color solid;
      }
    }

    .#{$tree-prefix-class}-node-content-wrapper {
      font-size: $tree-node-font-size;
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: $folders-tree-node-height;
      padding: $folders-tree-node-content-padding;
      cursor: pointer;
      vertical-align: middle;
      color: $bright-text-color;
      border-radius: $controls-border-radius;

      &:hover {
        background-color: $color-3;
      }
    }

    span {
      &.#{$tree-prefix-class}-switcher {
        width: $folders-tree-node-switcher-size;
        // Set fixed width because like this all tree node are indented
        height: $folders-tree-node-switcher-size;
        cursor: pointer;
        color: $bright-text-color;
      }
    }
  }

  &-node-selected {
    background-color: $color-3;
  }

  &-indent-unit {
    padding-left: $folders-tree-node-indent;
  }

  &__ArrowDownIcon, &__ArrowUpIcon {
    width: $folders-tree-node-switcher-size;
    height: $folders-tree-node-switcher-size;
  }
}
