@import "../../variables";

.side-bar {
  background-color: $color-2;
  height: calc(100vh - #{$top-bar-height});
  left: -$side-bar-width;
  position: fixed;
  top: $top-bar-height;
  transition: left .25s ease;
  width: $side-bar-width;
  z-index: 99;

  &--opened {
    left: 0;
  }
}

