@import "../../variables";

.side-bar {
  background-color: $color-2;
  height: calc(100vh - #{$top-bar-height});
  left: -$side-bar-width;
  padding: 16px 10px 10px 16px;
  position: fixed;
  top: $top-bar-height;
  transition: left .25s ease;
  width: $side-bar-width;
  z-index: 99;

  &--opened {
    left: 0;
  }

  &__controls {
    align-items: center;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
  }



}

