@import "../../variables";

.TopBar {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: $top-bar-height;
  padding: $top-bar-padding;
  color: $bright-text-color;
  background-color: $color-2;
  box-shadow: $top-bar-shadow-size $color-1;


  // Inner TopBar
  &__Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  // Left and right parts of the TopBar
  &__LeftControls, &__RightControls {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  // Search input container and search input
  &__Search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $search-input-max-width;
    height: $controls-height;
    border-radius: $controls-border-radius;
    background-color: $color-3;

    &Input {
      font-size: $input-font-size;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: $search-input-padding;
      color: $bright-text-color;
      border: none;
      outline: none;
      background: none;

      &::placeholder {
        color: $light-text-color;
      }
    }

    // Search input icon
    &Icon {
      position: absolute;
      left: $search-input-left-distance;
      width: $search-input-icon-size;
      height: $search-input-icon-size;
      cursor: text;
    }
  }

}
