@import "./../../../variables";

.dropdown {
  background-color: $color-3;
  border-radius: 3px;
  box-shadow: 0 2px 5px $color-2;
  position: absolute;
  top: 35px;
  width: 150%;
  z-index: 99;

  &-content {
    color: $bright-text-color;
    font-size: $card-content-font-size;
    list-style: none;
  }

}

