@import "./../../../variables";

.dropdown-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 30px;
  padding: 5px 10px;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $color-2;
  }

  &--selected {
    background-color: $accent-color;
  }
}