@import "./../../../variables";

.dropdown-item {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding:  5px 10px;
  text-align: center;

  &:hover {
    background-color:$color-2;
  }
}