@import "./../../../variables";

.dropdown-button {
  position: relative;

  &__trigger-button {
    align-items: center;
    background-color: $color-3;
    border: none;
    border-radius: 3px;
    color: $bright-text-color;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    outline: none;
    padding: 10px;

    &:hover, &:focus {
      background-color: $color-2;
    }
  }
}
