@import "../../../variables";

.CardModal {
  display: flex;
  flex-direction: column;
  width: $card-modal-desktop-size;
  height: $card-modal-desktop-size;

  &__Controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $card-modal-controls-height;
    margin: auto;
  }

  &__Card {
    position: relative;
    height: 100%;
    margin: $card-modal-card-margin;
    border-radius: $card-modal-card-border-radius;
    background-color: $color-1;

    &ContentIndicator {
      position: absolute;
      right: $card-controls-border-spacing;
      bottom: $card-controls-border-spacing;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &Controls {
      position: absolute;
      top: $card-controls-border-spacing;
      right: $card-controls-border-spacing;
    }

    &FlashIcon, &HelpIcon {
      width: $square-button-icon-size;
      height: $square-button-icon-size;
      fill: $bright-text-color;
    }
  }
}

@media all and (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .CardModal {
    width: $card-modal-tablet-size;
    height: $card-modal-tablet-size;
  }
}

@media all and (max-width: $mobile-max-breakpoint) {
  .CardModal {
    width: $card-modal-mobile-size;
    height: $card-modal-mobile-size;
  }
}
