@import "../../../variables";

.Card {
  position: relative;
  display: flex;
  height: $card-size;
  border-radius: $card-border-radius;
  background-color: $color-2;

  &__Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: $card-inner-padding;
  }

  &__UpControls {
    position: absolute;
    top: $card-controls-border-distance;
    display: flex;

    &--Right {
      right: $card-controls-border-distance;
    }

    &--Left {
      left: $card-controls-border-distance;
    }

  }

  &__BackContent, &__FrontContent {
    font-size: $card-content-font-size;
    text-align: center;
    color: $bright-text-color;
  }

  &__ContentIndicator {
    position: absolute;
    right: $card-controls-border-distance;
    bottom: $card-controls-border-distance;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__FlashIcon, &__HelpIcon {
    width: $content-indicator-icon-size;
    height: $content-indicator-icon-size;
    fill: $bright-text-color;
  }
}



