@import "../../../variables";

.Card {
  position: relative;
  display: flex;
  height: 160px;
  border-radius: 4px;
  background-color: $color-2;

  &__Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  &__UpControls {
    position: absolute;
    top: 10px;
    display: flex;

    &--Right {
      right: 10px;
    }

    &--Left {
      left: 10px;
    }

  }

  &__BackContent, &__FrontContent {
    font-size: $card-content-font-size;
    text-align: center;
    color: $bright-text-color;
  }

  &__ContentIndicator {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__FlashIcon, &__HelpIcon {
    width: 20px;
    height: 20px;
    fill: $bright-text-color;
  }
}



