@import "../../../variables";

.card-dropdown-button {
  // Replace dropdown + dropdown-button default style
  .dropdown {
    background-color: $color-3;
    box-shadow: 0 2px 5px $color-2;
    position: absolute;
    right: 0;
    top: 30px;
    width: 160px;
  }

  .dropdown-button {
    &__trigger-button {
      background-color: $color-2;
      height: 26px;
      padding: 0;
      width: 26px;

      &:hover, &:focus {
        background-color: $color-3;
      }
    }
  }

  &__md-more-icon {
    height: 20px;
    width: 20px;
  }

}
