// Colors
$color-3: #323232;
$color-2: #252525;
$color-1: #171717;
$accent-color: #ca3e47;
$bright-text-color: rgb(240, 240, 240);
$light-text-color: rgb(200, 200, 200);
$dark-text-color: rgb(10, 10, 10);
$error-text-color: rgb(230, 30, 30);

// Sizes
$top-bar-height: 44px;
$side-bar-width: 250px;
// Durations
$card-flip-duration: 150ms;
//Font
$card-content-font-size: 0.9rem;
//Breakpoints
$mobile-min-breakpoint: 320px;
$mobile-max-breakpoint: 480px;

$tablet-min-breakpoint: 481px;
$tablet-max-breakpoint: 768px;