// Colors
$color-3: #323232;
$color-2: #252525;
$color-1: #171717;
$accent-color: #3282b8;
$danger-color: #da2d2d;
$bright-text-color: rgb(240, 240, 240);
$light-text-color: rgb(220, 220, 220);
$dark-text-color: rgb(10, 10, 10);

// Sizes
$top-bar-height: 44px;
$side-bar-width: 250px;
$card-size: 180px;
$controls-height: 30px;
$dropdown-item-min-height: 30px;
$button-icon-size: 24px;
$button-medium-min-width: 80px;
$card-inner-padding: 10px;
$content-indicator-icon-size: 20px;
$dropdown-menu-width: 160px;
$cards-view-max-width: 850px;
$cards-view-header-min-height: 36px;
$folders-tree-node-height: 30px;
$folders-tree-node-switcher-size: 20px;
$search-input-max-width: 200px;
$search-input-icon-size: 22px;


// Borders & shadows
$controls-border-radius: 3px;
$dropdown-menu-box-shadow-size: 0px 2px 5px;
$card-border-radius: 5px;
$folders-tree-node-drag-over-gap-border-size: 2px;
$top-bar-shadow-size: 0 2px 5px;


//Spacing
$search-input-left-distance: 8px;
$search-input-padding: 6px 6px 6px 38px;
$top-bar-padding: 0 10px;
$new-folders-controls-margin-bottom: 10px;
$side-bar-padding: 10px;
$folders-tree-node-indent: 14px;
$folders-tree-node-margin: 2px 0;
$cards-view-padding: 15px;
$card-controls-border-distance: 10px;
$cards-grid-spacing: 10px;
$input-padding: 0 10px;
$controls-group-spacing: 5px;
$dropdown-item-padding: 5px 10px;
$folders-tree-node-content-padding: 5px 10px;
$button-medium-padding: 10px;
$dropdown-menu-top-distance: $controls-height + 5px;
$cards-view-header-margin-bottom: 15px;
$folder-path-margin: 10px 0;

// Durations
$card-flip-duration: 150ms;
$sidebar-opening-duration: 250ms;

//Font
$folder-path-font-size: 1rem;
$folder-path-font-weight: 600;
$card-content-font-size: 0.9rem;
$input-font-size: 0.8rem;
$tree-node-font-size: 0.8rem;

//Breakpoints
$mobile-min-breakpoint: 320px;
$mobile-max-breakpoint: 480px;

$tablet-min-breakpoint: 481px;
$tablet-max-breakpoint: 768px;