// Colors
$color-3: #323232;
$color-2: #252525;
$color-1: #171717;
$accent-color: #3282b8;
$danger-color: #da2d2d;
$bright-text-color: rgb(240, 240, 240);
$light-text-color: rgb(220, 220, 220);
$dark-text-color: rgb(10, 10, 10);

// Sizes
$top-bar-height: 44px;
$side-bar-width: 250px;

// Durations
$card-flip-duration: 150ms;

//Font
$card-content-font-size: 0.9rem;

//Breakpoints
$mobile-min-breakpoint: 320px;
$mobile-max-breakpoint: 480px;

$tablet-min-breakpoint: 481px;
$tablet-max-breakpoint: 768px;